<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>SampleApp</title>
=======
  <title>FirstApp</title>
>>>>>>> 30a5ee3670253f7130de2487178b391f5b9eeb44
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
